In [5]:
import pandas as pd

url = 'https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/football.csv'

df = pd.read_csv(url)
df.head()

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13

In [6]:
#задание 1
meanWageValue = df.groupby(['Position'])[['Wage','Value']].mean()
meanWageValue.sort_values(['Value'], ascending=False).head(10)
#LF!

                   Wage         Value
Position
LF         75125.000000  2.736250e+07
RF        119000.000000  2.636583e+07
LAM        61000.000000  1.324583e+07
RAM        11800.000000  8.345000e+06
LS         15421.487603  5.848430e+06
LCM        13497.854077  4.318090e+06
RCM        13504.166667  4.217604e+06
RS         13482.456140  3.645833e+06
LW         12169.421488  3.603099e+06
RW         13822.784810  3.495738e+06

In [8]:
#внезапно снова задание 1
meanMedianWage = df.groupby(['Club'])['Wage'].agg(['mean' ,'median'])
meanMedianWageClub = meanMedianWage.loc[meanMedianWage['mean'] == meanMedianWage['median']]
len(meanMedianWageClub.index)

52

In [14]:
#задание 2
meanMedianWageClub.loc[meanMedianWageClub['mean'] == meanMedianWageClub.max().values[0]]

             mean  median
Club
Cruzeiro  13000.0   13000

In [24]:
#задача 1
df.groupby(['Club'])['Wage'].sum()['Chelsea']

2035000

In [44]:
#задача 2
max(df.loc[(df['Nationality'] == 'Argentina') & (df['Age'] == 20)]['Wage'])

54000

In [45]:
#задача 3
max(df.loc[(df['Nationality'] == 'Argentina') & (df['Age'] == 30)]['Wage'])

300000

In [46]:
#задача 4
min(df.loc[(df['Nationality'] == 'Argentina') & (df['Age'] == 30)]['Wage'])

1000

In [56]:
#задача 5
tmp5 = df.loc[(df['Nationality'] == 'Argentina') & (df['Club'] == 'FC Barcelona')]
print(max(tmp5['Strength']),';',max(tmp5['Balance']))

59 ; 95