In [1]:
import json
import pandas as pd
import numpy
import pymorphy2
morph = pymorphy2.MorphAnalyzer()

Задание 1

In [2]:
data = []
with open('tinkoff_hh.json','r',encoding = 'UTF8') as f:
    r = f.readlines()
for i in r:
    data.append(json.loads(i))

In [3]:
data1 = pd.DataFrame(data[1::2])

In [4]:
data1["id"] = pd.DataFrame([i["index"] for i in data[0::2]])

In [5]:
data1.head(3)

,vacancy,company,creation_date,region,income,experience,employment_type,duties,requirements,conditions,id
0,Начинающий специалист по залоговому кредитованию,Тинькофф,2019-01-15,Москва,от 55 000 руб.,не требуется,Полная занятость,"- Звонить клиентам, которым банк одобрил креди...",None,- График работы 5/2 с плавающими выходными;\n-...,0
1,Начинающий специалист в банк,Тинькофф,2019-01-15,Москва,от 50 000 руб.,не требуется,Полная занятость,- Работать с действующими и потенциальными кли...,- Грамотная речь;\n- Уверенный пользователь ПК.,- Стабильную заработную плату: гарантированный...,1
2,Менеджер по работе с корпоративными клиентами ...,Тинькофф,2019-01-15,Москва,от 50 000 до 150 000 руб.,1–3 года,Полная занятость,- Самостоятельный поиск и активное привлечение...,"- Желание работать в современном, высококвалиф...",- Обучение у лучших тренеров и наставников бан...,2

In [6]:
x = 'Начинающий специалист по залоговому кредитованию'
y = 'Москва'

In [8]:
data1.groupby(['income'])['vacancy'].value_counts()

income           vacancy
 до 40 000 руб.  Координатор в тренинг-центр                                        1
 до 41 000 руб.  Младший специалист кадрового делопроизводства                      1
 до 55 000 руб.  Тренер группы обучения                                             7
 до 65 000 руб.  Специалист Службы финансового мониторинга (Методология)            1
 до 80 000 руб.  Старший специалист по расследованиям (Фрод-мониторинг)             1
                                                                                   ..
от 80 000 руб.   Торговый представитель                                             7
                 Менеджер по привлечению корпоративных клиентов                     1
                 Менеджер по привлечению корпоративных клиентов (средний бизнес)    1
от 85 000 руб.   Менеджер по продаже POS-кредитования среднему бизнесу              2
от 90 000 руб.   Руководитель группы по привлечению корпоративных клиентов          9
Name: vacancy, Length: 519, dtype: int64

Задание 2

In [5]:
import pandas as pd

url = "https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/data_stat/yandex-stat-q.csv"

df = pd.read_csv(url)
df.head(3)

,Поисковая фраза,Поисковая система,Визиты,Посетители,Отказы,Глубина просмотра,Время на сайте
0,Итого и средние,NaN,72394,57803,0.120328,1.298934,00:01:18
1,pycode.ru,Яндекс,2068,1225,0.093810,1.674565,00:01:38
2,холопов алексей васильевич,Яндекс,1240,467,0.082258,1.941129,00:03:53

In [103]:
def norm2(x):
    return list(map(lambda q: morph.parse(q)[0].normal_form, x.lower().split()))

In [10]:
x = [norm2(i) for i in df['Поисковая фраза'].values]

In [104]:
norm2('общества.основный ')

['общества.основный']

In [61]:
data2 = list(zip(x, df['Визиты'].values))

In [13]:
data2[:5:]

[(['итого', 'и', 'средний'], 72394),
 (['pycode.ru'], 2068),
 (['холоп', 'алексей', 'василий'], 1240),
 (['золотой', 'правило', 'дидактика'], 778),
 (['золотой', 'правило', 'дидактика', 'я.а', 'коменский'], 743)]

In [77]:
data3 = ([[i[0][j], i[1]] for i in data2 for j in range(len(i[0]))])

In [105]:
data3[:5:]

[['итого', 72394],
 ['и', 72394],
 ['средний', 72394],
 ['pycode.ru', 2068],
 ['холоп', 1240]]

In [87]:
pd.DataFrame(data3).groupby(0)[1].sum().sort_values()

0
!                        1
общества)                1
общества.основный        1
общества?                1
общества».               1
                     ...
конференция          10939
тезис                16892
итого                72394
средний              72408
и                    76665
Name: 1, Length: 16954, dtype: int64