In [19]:
import pandas as pd
from statistics import mean

url = "https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/deputat.csv"
df = pd.read_csv(url)
df.head(3)

,name,lastname,otchestvo,gender,birthdate,start,end,district
0,Ефимов,Виталий,Борисович,м,04.04.1940,18.09.2016,NaN,Мордовский
1,Максимова,Надежда,Сергеевна,ж,13.01.1942,18.09.2016,NaN,Хакасский
2,Мищеряков,Юрий,Николаевич,м,01.01.1945,18.09.2016,NaN,Оренбургский

In [15]:
def age(x):
    return 2020 - int(x[6::])

In [20]:
#1
mean([age(i) for i in df['birthdate'].values])

56.2654028436019

In [6]:
#2
df['gender'].value_counts(normalize = True)

м    0.848341
ж    0.151659
Name: gender, dtype: float64