In [1]:

import pandas as pd

url = "https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/football.csv"

football = pd.read_csv(url)
football.head()

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13

In [119]:
#Сколько футбольных клубов представлено в датасете?
clubs = football['Club'].unique()
len(clubs)

650

In [31]:
#Как называется футбольный клуб, представленный наименьшим количеством игроков в датасете?
clubs.loc[clubs==min(clubs)].index[0]

'Atlético Mineiro'

In [47]:
#Данные об игроках каких позиций (Position) занимают более 10% датасета?
positions = football['Position'].value_counts(normalize=True)
posmore10per=positions.loc[positions>0.1]
[posmore10per.index[i] for i in range(len(posmore10per))]

['GK', 'ST', 'CB']

In [46]:
#Данные об игроках каких позиций (Position) занимают менее 1% датасета?
positions = football['Position'].value_counts(normalize=True)
posless1per = positions.loc[positions<0.01]
[posless1per.index[i] for i in range(len(posless1per))]

['LS', 'RS', 'RWB', 'LWB', 'CF', 'LF', 'LAM', 'RF', 'RAM']

In [78]:
#В каких пределах находятся худшие 20% показателей точности ударов ногой (FKAccuracy)?
currFKA = football['FKAccuracy'].value_counts(bins=5)
[currFKA.index[0].left, currFKA.index[0].right]

[21.2, 39.4]

In [89]:
#Какие показатели точности ударов ногой демонстрирует большинство футболистов?
mostcurrFKA = football['FKAccuracy'].value_counts(bins=10)
mostcurrFKA.loc[mostcurrFKA == max(mostcurrFKA)]

(30.3, 39.4]    2969
Name: FKAccuracy, dtype: int64

In [114]:
#задача 1
spainPlayers = football.loc[football['Nationality'] == 'Spain']
round(spainPlayers['Wage'].value_counts(bins = 4).values[0]/len(spainPlayers)*100)

97.0

In [121]:
#задача 2
len(football.loc[football['Club'] == 'Manchester United']['Nationality'].unique())

13

In [134]:
#задача 3
[football.loc[(football['Club'] == 'Juventus') & (football['Nationality'] == 'Brazil')]['Name'].unique()[i] for i in range(2)]

['Alex Sandro', 'Douglas Costa']

In [140]:
#задача 4
tmp4 = football.loc[football['Age'] > 35]['Club'].value_counts()
tmp4.loc[tmp4 == max(tmp4)]

Club Atlético Huracán         4
Hokkaido Consadole Sapporo    4
Name: Club, dtype: int64

In [148]:
#задача 5
football.loc[football['Nationality'] == 'Argentina']['Age'].value_counts(bins = 4).values[3]

49

In [155]:
#задача 6
round(football.loc[football['Nationality'] == 'Spain']['Age'].value_counts(normalize = True).values[0]*100, 2)

11.77