In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/dm-fedorov/python_basic/master/data/vkontakte_group_01_2016-08-01_2020-03-15.csv")
df.head(3)

         Дата  Критерий Парам. №1 Парам. №2  Значение
0  15.03.2020     views       NaN       NaN         4
1  15.03.2020  visitors       NaN       NaN         3
2  15.03.2020    gender         М       NaN         3

Задание 1.

In [14]:
df["year"] = [i[6::] for i in df["Дата"].values]

In [16]:
df.head(3)

         Дата  Критерий Парам. №1 Парам. №2  Значение  year
0  15.03.2020     views       NaN       NaN         4  2020
1  15.03.2020  visitors       NaN       NaN         3  2020
2  15.03.2020    gender         М       NaN         3  2020

In [38]:
#views
df.loc[df["Критерий"] == "views"].groupby(["year"])["Значение"].sum()

year
2016     7199
2017    11872
2018     7055
2019     8754
2020     1444
Name: Значение, dtype: int64

In [39]:
#visitors
df.loc[df["Критерий"] == "visitors"].groupby(["year"])["Значение"].sum()

year
2016    5254
2017    8524
2018    5117
2019    5733
2020     956
Name: Значение, dtype: int64

Задание 2.

In [87]:
#reach
df.loc[df["Критерий"] == "reach"].groupby(["year"])["Значение"].sum()

year
2016    15672
2017    27479
2018    12539
2019    21185
2020     1656
Name: Значение, dtype: int64

In [88]:
#reach_subscribers
df.loc[df["Критерий"] == "reach_subscribers"].groupby(["year"])["Значение"].sum()

year
2016    3522
2017    4487
2018    2125
2019    9568
2020     536
Name: Значение, dtype: int64

Задание 3.

In [43]:
#gender
df.loc[df["Критерий"] == "gender"]["Парам. №1"].value_counts(normalize = True)

М    0.502853
Ж    0.497147
Name: Парам. №1, dtype: float64

In [86]:
#age
df.loc[df["Критерий"] == "age"].groupby(["Парам. №1"])["Значение"].sum().sort_values()

Парам. №1
1-18      741
24-27    1751
45+      2350
35-45    2402
27-30    2419
21-24    2560
18-21    3046
30-35    3466
Name: Значение, dtype: int64

In [75]:
#gender_age
df.loc[df["Критерий"] == "gender_age"].groupby(["Парам. №1"])["Парам. №2"].value_counts()

Парам. №1  Парам. №2
Ж          18-21         939
           21-24         808
           45+           744
           35-45         659
           24-27         612
           30-35         582
           27-30         495
           1-18          426
М          30-35        1095
           27-30         990
           35-45         783
           45+           718
           21-24         693
           18-21         649
           24-27         574
           1-18          184
Name: Парам. №2, dtype: int64

In [85]:
#countries
df.loc[df["Критерий"] == "countries"].groupby(["Парам. №1"])["Значение"].sum().sort_values(ascending=True)

Парам. №1
Австралия                          1
Кот-д'Ивуар                        1
Кувейт                             1
Южно-Африканская Республика        1
Непал                              1
                               ...
Казахстан                        290
США                              340
Беларусь                         506
Украина                          994
Россия                         22367
Name: Значение, Length: 70, dtype: int64

Задание 4.

анализируя полученные данные, можно сделать следующие выводы:

1)скачок числа просмотров и посетителей наблюдается в 2017 году, за остальные года наблюдаются примерно лдиныковые показатели, что свидетельствует о том, что данная группа не развивается, но и не деградирует;

2)однако если смотреть на следующие таблицы, то наблюдается как прирост подписчиков, так и расширение общего охвата, что свидетельствует о отм, что группа развивается;

3)процентное соотношение мужчин и женщин среди посетителей примерно одинаковое, значит, в качетсве целевой аудитории можно выбирать и тех, и других;

4)если анализировать исключительно возраст, игнорируя пол, то самые обширные возрастные группы - 18-24 и 30-35 лет;

5)если принимать во внимание пол, то среди женщин самыми обширными возрастными группами являются 18-24 и 45+, а среди мужчин - 27-45;

6)как показывает последняя таблица, большинство посетителей - из стран СНГ.

Задание 5.

подходит ли данная группа для продвижения нового товара среди активных пользователей из России моложе 30 лет?

однозначно, да. это подтвержают выводы, приведенные выше. во-первых, подавляющее большинство пользователей - из России - то, что нужно. 
во-вторых, как показывает анализ возрастных групп, самые активные из них - в том числе группы людей, моложе 30 лет. в-третьих, как так соотношение количества мужчин и женщин практически одинаково, это позволяет охватить сразу обе группы, что пойдет нам на руку.